:root {
  --primary-color: #000116;
  --secondary-color: #ffffff;
}
* { 
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
}

nav.navbar {
  display: grid;
  grid-template-columns:  1fr ;
  align-items: center;
  grid-template-areas: "logo nav-list";
  color: var(--primary-color);
  background-color: var(--primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--secondary-color);
}
nav a:hover {
  opacity: 0.8;
}
nav .logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  width: 1.5rem;
  letter-spacing: 0.25rem;
  color: var(--secondary-color);
}

nav .nav-list {
  font-size: 1rem;
  list-style: none;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-list button {
  all: unset;
  background: transparent;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 0;
}
#button {
  background-color: var(--primary-color);
  color: var(--primary-color);
  border: none;
  padding: min(12px, 2vh) min(24px, 4vw);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
#button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) 2px solid;
}

#popupOverlay {
  color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

#contactPopup {
  color: var(--primary-color);
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 500px;
}
#name, #email, #message
{
  color: var(--primary-color);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: min(12px, 2vh) min(24px, 4vw);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

#closePopupBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
.mid-section {
  display: grid;
  padding: min(5em, 8%);
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;
}
.mid-section p {
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.6;
}

img.image {
  max-width: 100%;
  height: auto;
  border-radius: 50% ;
  margin-left: auto;
  margin-right: auto;
}
img.image:hover{
  border: var(--primary-color) 5px solid;
}
h2 {
  text-align: center;
  padding: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  grid-auto-flow: column;
  gap: 2em;
  padding: 6rem;
  background-color: var(--primary-color);
}

div.projects {
  display: grid;
  grid-template-rows: subgrid;
  grid-auto-flow: row;
  grid-row: span 3;
  gap: 0.3rem;
  text-align: center;
  background-color: var(--primary-color);
  padding: min(0.6rem, 2vh) min(1rem, 0.5vw);
  border-radius: 0.5rem;
  border: var(--secondary-color) 0.1rem solid;
} 


footer {
  position: absolute;
  display: grid;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-color: var(--secondary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer .media {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  margin-bottom: 1rem;
}

footer .media-item {
  display: grid;

}
footer .media-item svg {
  width: 2.5rem;
  height: 2rem;
  align-self: start;
  fill: var(--primary-color);
  transition: fill 0.3s;
}
footer .media-item svg:hover {
  fill: var(--secondary-color);
}
footer p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--primary-color);
}