:root {
  --primary-color: #000116;
  --secondary-color: #ffffff;
}
* { 
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
}

nav.navbar {
  display: grid;
  grid-template-columns:  1fr ;

  align-items: center;
  grid-template-areas: "logo nav-list";

  padding: min(10px, 2vh) min(20px, 4vw);
  color: var(--primary-color);
  background-color: var(--primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--secondary-color);
}
nav a:hover {
  opacity: 0.8;
}
nav .logo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--secondary-color);
}

nav .nav-list {
  list-style: none;
  display: grid; 
}
nav .nav-list li  {
  display: grid;
}
.nav-list button {
  all: unset;
  background: transparent;
  color: var(--secondary-color);
  cursor: pointer;
}
#button {
  background-color: var(--primary-color);
  color: var(--primary-color);
  border: none;
  padding: min(12px, 2vh) min(24px, 4vw);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
#button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) 2px solid;
}

#popupOverlay {
  color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

#contactPopup {
  color: var(--primary-color);
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 500px;
}
#name, #email, #message
{
  color: var(--primary-color);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: min(12px, 2vh) min(24px, 4vw);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

#closePopupBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
.mid-section {
  display: grid;
  grid-auto-rows: auto;
  align-items: center;
  padding: min(10vh, 50px) 20px;
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;
}
.mid-section p {
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
}

img.image {
  max-width: 100%;
  height: auto;
  border-radius: 50% ;
  margin-left: auto;
  margin-right: auto;
}
img.image:hover{
  border: var(--primary-color) 5px solid;
}
h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.projects, section.media {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  background-color: var(--primary-color);
  text-align: center;
}

div.projects, div.media-item {
  background-color: var(--primary-color);
  padding: min(10px, 2vh) min(10px, 2vw);
  border-radius: 8px;
  border: var(--secondary-color) 2px solid;
} 
footer {
  position: absolute;
  display: grid;
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}