:root {
  --primary-color: #000116;
  --secondary-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: var(--primary-color);
  height: 100vh;
  overflow: hidden;
}

nav.navbar {
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  height: 8vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--secondary-color);
}
a:hover {
  opacity: 0.8;
}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--secondary-color);
}
main {
background-color: vaer(--primary-color);
background-size: cover;
height: 92vh;
}
.mid-section {
  padding: min(10vh, 50px) 20px;
  width: 100%;
  background-color: var(--secondary-color);
  text-align: center;
}
.mid-section p {
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
}

.nav-list {
  list-style: none;
  display: flex; 
}
.nav-list li  {
  letter-spacing: 3px;
  margin-left: 32px;
}
.nav-list button {
  all: unset;
  background: transparent;
  color: var(--secondary-color);
  cursor: pointer;
}
#button {
  background-color: var(--primary-color);
  color: var(--primary-color);
  border: none;
  padding: min(12px, 2vh) min(24px, 4vw);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
#button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) 2px solid;
}

#popupOverlay {
  color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

#contactPopup {
  color: var(--primary-color);
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 500px;
}
#name, #email, #message
{
  color: var(--primary-color);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: min(12px, 2vh) min(24px, 4vw);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

#closePopupBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

img.image {
  max-width: 100%;
  height: auto;
  border-radius: 50% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.image:hover{
  border: var(--primary-color) 5px solid;
}
h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.projects, section.media {
  margin: min(5vh, 30px) auto;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
  text-align: center;
}

div.projects, div.media-item {
  display: inline-block;
  justify-content: space-around;
  margin-inline: min(2vw, 20px);
  border-radius: 5px;
  width: 50%;
  border: var(--secondary-color) 2px solid;
} 


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}